<app-search [(searchModel)]="searchModel"></app-search>
<table class="storyTable">
  <thead>
  <tr>
    <th>author</th>
    <th>title</th>
    <th>url</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="openModal(item.objectID)"
      *ngFor="let item of (storyList| async)?.hits | listFilter : searchModel">
    <th scope="row">{{item.author}}</th>
    <td>{{item.title}}</td>
    <td>{{item.url}}</td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
<jw-modal [id]='storyModalId'>
  <app-story [storyObjectId]="pickedId"></app-story>
  <button (click)="closeModal(storyModalId)">Close</button>
</jw-modal>
